@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #57aefb;
  --color-secondary: #c3c6d0;
  --color-tertiary: #a3a8b9;
  --color-green: #00a449;
  --color-red: #fb5057;
  --color-gray: #6a7282;
  --color-gray-2: #d1d5dc;
  --color-button: #353945;
  --color-blue: #2d80ff;
  --text-2xs: 10px;
  --text-3xs: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #22262f;
}

* {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}


#pdf-container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding:  16px;
  
}
.pdf--header--category {
  border-color: #2d80ff;
  color: #2d80ff;
  border-top: 2px;
  size:16px;
  font-size: medium;
  text-transform: uppercase;
}
.table-container {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: inline-block;
}

.custom-table th,
.custom-table td {
  /* border: 1px solid #ccc; */
  padding: 3px;
  text-align: left;
}

/* ************************** */
#a4-container {
  width: 794px; /* A4 width */
  height: 1123px; /* A4 height */
  background: white;
  overflow: hidden; /* Prevents overflow content */
  /* position: absolute; */
  left: 0;
  top: 10;
  /* left: -9999px; */
  /* top: -9999px; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 12px; /* Độ rộng của thanh cuộn dọc */
  height: 12px; /* Độ cao của thanh cuộn ngang */
}

/* Nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền */
  border-radius: 10px; /* Góc bo tròn */
}

/* Thanh trượt (thumb) */
::-webkit-scrollbar-thumb {
  background: #888; /* Màu thanh trượt */
  border-radius: 10px; /* Góc bo tròn */
}

/* Thanh trượt khi hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu khi hover */
}

/* Góc của thanh cuộn (trên các phần tử nhỏ) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
